<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="images/logopol.png" width="50" height="50" class="d-inline-block align-top" alt="" />
      <img src="images/logo2.png" width="50" height="50" class="d-inline-block align-top" alt="" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item signin"><a class="nav-link" href="controling">Controling</a></li>
        <li class="nav-item signin"><a class="nav-link" href="about">About</a></li>
      </ul>
      <a class="navbar-brand" href="#">
        <img src="images/notif.png" class="align-top signin" alt="" width="50" height="50" data-toggle="modal" data-target="#exampleModalLong" />
        <img src="images/login.png" class="align-top signin" alt="" width="50" height="50" id="logout" />
        <button class="text-white signout align-top" style="background-color: rgb(24, 58, 100); border-color: rgb(24, 58, 100); border-radius: 10px; line-height: normal; padding: 12px 20px;" data-toggle="modal" data-target=".bd-example-modal-lg">Sign In</button>
      </a>
    </div>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog rounded" style="background-color: rgb(24, 58, 100); border-color: rgb(24, 58, 100)" role="document">
        <div class="modal-content" style="background-color: rgb(24, 58, 100); border-color: rgb(24, 58, 100)">
          <div class="modal-header" style="background-color: rgb(24, 58, 100); border-color: rgb(24, 58, 100)">
            <h5 class="modal-title h4" id="exampleModalLongTitle" style="background-color: rgb(24, 58, 100); border-color: rgb(24, 58, 100)">Notification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="color: rgb(255, 255, 255)">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="background-color: rgb(24, 58, 100); border-color: rgb(24, 58, 100)">
            <div class="p-1">
              <div class="card">
                <div class="card-header"><h2 class="h5">Don't Forget Always Check Your Plants !!!</h2></div>
              </div>
            </div>
            <div class="p-1">
              <div class="card">
                <div class="card-header"><h2 class="h5">Danger Please Check Your Water Ph !!!</h2></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg border-light" style="max-width: 1200px">
        <div class="modal-content border-light">
          <div class="card mb-3 border-light">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 rounded-start" style="background-color: #183a64">
                  <img src="images/ilus/cewek2.png" class="img-fluid rounded-start align-items-center" alt="" />
                </div>
                <div class="col-md-6">
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <div class="container-fluid" style="text-align: center">
                    <img class="img-fluid" src="images/logopol.png" width="100" height="100" alt="" />
                    <img class="img-fluid" src="images/logo2.png" width="100" height="100" alt="" />
                  </div>
                  <br />
                  <p class="title" style="text-align: center">Welcome back user</p>
                  <div class="separator"></div>
                  <p class="h2" style="text-align: center">Your Plants Need You! Hurry Up!</p>
                  <br />
                  <form class="login-form" method="post">
                    <div class="form-control border-0" style="border: 0">
                      <input type="text" placeholder="Email" id="email" />
                      <i class="fas fa-user"></i>
                    </div>
                    <div class="form-control border-0" style="border: 0">
                      <input type="password" placeholder="Password" id="password" />
                      <i class="fas fa-lock"></i>
                    </div>

                    <button class="submit" id="login">Login</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>