<%- include('header') %> 
<%- include('nav') %> 

    <div class="content mt-4">
      <link rel="stylesheet" href="css/carousel.css" />
      <img src="images/logo2.png" width="300px" height="300px" />
      <h2 style="text-align: center">Hidroponik Politeknik Negeri Batam</h2>
      <h3 style="text-align: center">PBL Semester 5</h3>
      <p style="text-align: center">
        Sistem Monitoring pada Hidroponik Farm Polibatam berbasis IoT
        <br />Manager Proyek : DP - Dodi Prima Resda, S.Pd., M.Kom <br />Co-Manajer Proyek : Rizki H.P

        <br /><br />Nama Anggota Kelompok <br />4311901033 - Ana Mufida <br />4311901043 - Moh.Zain Abdul Mazjid <br />4311901085 - Muhammad Ibnu Farhan <br />4311901091 - Yasmin Nadhifa Tetelepta <br />4311901004 - Muhammad Ramadhan
        <br />4311901021 - Lucinda Juliana <br />4311901009 - Leni Gusniati Siregar
      </p>
      <div class="p-3">
        <h1 class="h1">Tips dan Buku Panduan Tentang Tanaman</h1>
        <div class="cardalem text-center">
          <div class="card-body">
            <article class="mb-5">
              <h3 class="h4"><a href="/ilmu/" class="h4">Cahaya yang Baik</a></h3>
              <h5 class="h4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta hic optio dolor modi. Modi reprehenderit sapiente recusandae natus iste officia ab eius rem, corporis asperiores aut mollitia, fuga sequi! Neque.
              </h5>
            </article>

            <article class="mb-5">
              <h3 class="h4"><a href="/ilmu/" class="h4">Cahaya yang Baik</a></h3>
              <h5 class="h4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta hic optio dolor modi. Modi reprehenderit sapiente recusandae natus iste officia ab eius rem, corporis asperiores aut mollitia, fuga sequi! Neque.
              </h5>
            </article>
          </div>
        </div>
      </div>
      )
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script type="module">
      // import firebase
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-app.js";
    import { getAuth, signInWithEmailAndPassword, onAuthStateChanged, signOut } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-auth.js";
    import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-database.js";

    const firebaseConfig = {
      apiKey: "AIzaSyBSxBmGcM6_1uNPqWd5oPutkyQsZvrYVO0",
      authDomain: "hidropol-c0585.firebaseapp.com",
      projectId: "hidropol-c0585",
      storageBucket: "hidropol-c0585.appspot.com",
      messagingSenderId: "436216931478",
      appId: "1:436216931478:web:040c4a8ec221f244e70eb7",
    };

    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);
    const database = getDatabase(app);

  //   set status and ui
    onAuthStateChanged(auth, (user) => {
      if (user) {
        console.log("login");
      } else {
        console.log("no user");
        alert('Harap login terlebih dahulu')
        window.location = "/";
      }
    });

    // Logout
    const logout = document.getElementById("logout");
    logout.addEventListener("click", (e) => {
      e.preventDefault();
      signOut(auth)
        .then(() => {
          console.log("berhasil logout");
          window.location = "/";
        })
        .catch((error) => {
          console.log("gagal logout");
          error;
        });
    });
  </script>
  </body>
</html>
