<%- include('header') %> 
<%- include('nav') %> 

    <div class="content mt-4">
      <link rel="stylesheet" href="css/carousel.css" />
      <img src="images/logo2.png" width="300" height="300" class="rounded mx-auto d-block" alt="...">
      <h2 style="text-align: center">Hidroponik Politeknik Negeri Batam</h2>
      <h3 style="text-align: center">PBL Semester 5</h3>
      <p style="text-align: center">
        IoT-based Polibatam Hydroponic Farm Monitoring System
        <br />Project Manager : DP - Dodi Prima Resda, S.Pd., M.Kom <br />Co-Manajer Proyek : Rizki H.P

        <br /><br />Names of Group Members <br />4311901033 - Ana Mufida <br />4311901043 - Moh.Zain Abdul Mazjid <br />4311901085 - Muhammad Ibnu Farhan <br />4311901091 - Yasmin Nadhifa Tetelepta <br />4311901004 - Muhammad Ramadhan
        <br />4311901021 - Lucinda Juliana <br />4311901009 - Leni Gusniati Siregar
      </p>
      <div class="p-1">
        <h1 class="h1">Tips and Tricks for Caring for Plants Properly and Correctly</h1>
        <div class="cardalem text-start">
          <div class="card-body">
            <article class="mb-5">
              <p style="text-align: start; color: aliceblue;">
                How to care for plants can be done by:
                <br /> <br />1. Checking the condition of the water in the reservoir in the following way:
                <br />
                - Always make sure the available water is clean.<br />
                - To maintain cleanliness, it is recommended to change the water at least every 4 days.<br />
                - Storage containers should use clear or transparent containers.<br /><br />
                so you can more easily observe the condition and availability of water.<br />
                - In the fertigation hydroponic system, it is better not to let water for days and regularly change the water every 1-2 days.<br />
                - Do not fill the reservoir completely, ideally only fill 1/2 or 3/4 of it so that when draining, not too much is wasted.<br /><br /><br />
                <img src="images/tanaman.png" width="259" height="357" class="rounded mx-auto d-block" alt="..."><br />
                2. Always Check the Condition of the Nutrient Solution<br />
                Always control and check the condition and availability of nutrient solutions. Some of the ways to do this are as follows :<br /><br />

                - Check the availability of nutrient solution every day.<br />
                - Every three days replace the nutrient solution with a new one.<br />
                - Check if any of the channels in the nutrient solution are stuck or clogged.<br />
                - The dose of nutrient solution is given gradually.<br />
                - Use clean water to mix with the nutrient solution.<br />
                - Make sure the nutrients used are not expired. <br /><br /><br />
                <img src="images/tanaman2.png" width="311" height="388" class="rounded mx-auto d-block" alt="..."><br />
                3. Clean the Planting Media Container and Nutrient Solution<br />
                Transparent media containers will be very susceptible to moss growing so they must clean the container by:<br /><br />

                - Remove the remaining nutrient solution.<br />
                - Clean the parts that start to grow moss by using clean water and running water.<br />
                - Soak the container in clean water or alcohol.<br />
                - Refill with nutrient solution,Do this regularly every 1-2 weeks.<br />
                - Do not wait for the moss to fill the container because it will affect plant growth.<br /><br /><br />

                4. Keep Environmental Sanitation<br />
                To maintain environmental sanitation, the following must be done:<br /><br />

                - Clean the weeds around the planting area.<br />
                - Do not allow garbage to fill the planting site.<br />
                - Remove waste from pruning plant parts and keep them away from healthy plants.<br />
                - Always check the intensity of the incoming light, lest the light from the eyes be blocked and create a humid environment.<br />
                - Every once a month try to spray using pesticides (insecticides and fungicides) around the growing environment.<br /><br /><br />
                <img src="images/sayuran.jpg" width="369" height="526" class="rounded mx-auto d-block" alt="..."><br />
                5. Check Plant Condition Periodically.<br />
                Observe the condition of the plant regularly is the most important point in caring for hydroponic plants. By doing intensive checks,<br />
                we can find out what is happening to the plant, because if it is attacked by pests or diseases or even lacks a nutrient solution,<br />
                the plant shows symptoms such as yellowing, dry leaves, and other symptoms.<br /><br /><br />

                6. Check the Condition of the Planting Media<br />
                The condition of the planting media can also affect the health of the plant, therefore, always check the condition of the growing media.<br />
                If it's not feasible, don't worry about replacing the new planting media. In addition, it is not recommended to use used planting media that has been used,<br />
                it is feared that old media that is reused without a sterilization process can carry pests and diseases that will be harmful to the growth of the plant itself.<br /><br /><br />
                <img src="images/tanaman3.png" width="369" height="389" class="rounded mx-auto d-block" alt="..."><br />
                7. Remove and Keep Diseased Plants from Healthy Plants<br />
                The intensity of pest and disease attacks can cause critical conditions to plants, even plants can die from it. Therefore, if you find plants that are affected by pests or diseases.<br /> 
                So immediately pull it out, throw it away and keep it away from healthy plants. The best way is to burn it. So as not to a healthy plant.<br /><br /><br /><br /><br /><br />
              </p>
            </article>
          </div>
        </div>
      </div>
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script type="module">
      // import firebase
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-app.js";
    import { getAuth, signInWithEmailAndPassword, onAuthStateChanged, signOut } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-auth.js";
    import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-database.js";

    const firebaseConfig = {
      apiKey: "AIzaSyBSxBmGcM6_1uNPqWd5oPutkyQsZvrYVO0",
      authDomain: "hidropol-c0585.firebaseapp.com",
      projectId: "hidropol-c0585",
      storageBucket: "hidropol-c0585.appspot.com",
      messagingSenderId: "436216931478",
      appId: "1:436216931478:web:040c4a8ec221f244e70eb7",
    };

    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);
    const database = getDatabase(app);

  //   set status and ui
    onAuthStateChanged(auth, (user) => {
      if (user) {
        console.log("login");
      } else {
        console.log("no user");
        alert('Harap login terlebih dahulu')
        window.location = "/";
      }
    });

    // Logout
    const logout = document.getElementById("logout");
    logout.addEventListener("click", (e) => {
      e.preventDefault();
      signOut(auth)
        .then(() => {
          console.log("berhasil logout");
          window.location = "/";
        })
        .catch((error) => {
          console.log("gagal logout");
          error;
        });
    });
  </script>
  </body>
</html>
