<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <title>Login page</title>
  </head>
  <body>
    <section class="side">
      <img src="./images/Frame 1.png" alt="" />
    </section>

    <section class="main">
      <div class="login-container">
        <img src="./images/logo2.png" alt="" />
        <p class="title">Welcome back user</p>
        <div class="separator"></div>
        <p class="welcome-message">Your Plants Need You! Hurry Up!</p>

        <form method="POST" class="login-form" id="loginForm">
          <div class="form-control">
            <input type="text" placeholder="Email" id="loginEmail" />
            <i class="fas fa-user"></i>
          </div>
          <div class="form-control">
            <input type="password" placeholder="Password" id="loginPassword" />
            <i class="fas fa-lock"></i>
          </div>

          <button class="submit">Login</button>
        </form>
      </div>
    </section>

    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-app.js";
      import { getAuth, signInWithEmailAndPassword, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-auth.js";
      import { getDatabase } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-database.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyBSxBmGcM6_1uNPqWd5oPutkyQsZvrYVO0",
        authDomain: "hidropol-c0585.firebaseapp.com",
        projectId: "hidropol-c0585",
        storageBucket: "hidropol-c0585.appspot.com",
        messagingSenderId: "436216931478",
        appId: "1:436216931478:web:040c4a8ec221f244e70eb7",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const auth = getAuth(app);
      const database = getDatabase(app);

      onAuthStateChanged(auth, user => {  
          if(user != null) {
              console.log('Loggin')
          } else {
              console.log('No user')
          }
      })
    </script>
    <script type="module" src="../auth.js"></script>
  </body>
</html> -->
